.home{
	position: absolute;
	top: 43%;
	right: 50%;
	border-radius: 0 2px 2px 0;
	width: 5%;
	height: 50px;
	cursor: pointer;
	transition: 0.6s;
	background-image: url(home50px.png);
	background-repeat: no-repeat;
	background-position: center;
}
.home:hover{
	transition: 0.6s;
	background-image: url(home50pxsl.png);
	transform: scale(1.1);
}